@keyframes animated-bubbles {
    0% {
        background-position-x: 60px, 5px, 1100px, 1200px, 1800px,2200px, 0;
        background-position-y: 50px,80vh, 30px, 70vh, 70vh,-10vh, 0;
    }
    50% {
        background-position-x: 60px, 5px, 1100px, 1200px, 1800px,2200px, 0;
        background-position-y: 30px,90vh, 60px, 60vh, 80vh,0vh, 0;
    }
    100% {
        background-position-x: 60px, 5px, 1100px, 1200px, 1800px,2200px, 0;
        background-position-y: 50px,80vh, 30px, 70vh, 70vh,-10vh, 0;
    }
}
@keyframes animated-particle {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    15% {
        transform: translateY(-10px);
        opacity: 1;
    }
    85% {
        transform: translateY(+10px);
        opacity: 1;
    }
    100% {
        transform: translateY(+20px);
        opacity: 0;
    }
}
@keyframes animated-character1-legright {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-character1-armleft {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-character2-legs {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-character3-leg {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-character3-armright {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-character3-armleft {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-character3-hair {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(-16deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-character4-leg {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-character5-armleft {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(-35deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-character5-armright {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animated-balloon {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes anim-perspective {
    0% {
        perspective: 0px;
            perspective-origin: 50% 50%;
    }
    33% {
        perspective: 0px;
            perspective-origin: 50% 50%;
    }
    55% {
        perspective: 200px;
            perspective-origin: 50% 50%;
    }
    90% {
        perspective: 200px;
            perspective-origin: 50% 50%;
    }
}
@keyframes animated-consigne {
    0% {
        border: 20px solid #FDC055;
        background: radial-gradient(94.93% 94.93% at 69.68% 100%, #91887A 0%, rgba(209, 204, 194, 0) 100%);
        background-attachment: fixed;
                background-size: cover;
                background-position-y: 0px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        transform: scale(1.0) scaleZ(1.0) rotateX(0deg) rotateY(360deg) rotateX(-0deg);
    }
    33% {
        border: 20px solid #FDC055;
        background: radial-gradient(94.93% 94.93% at 69.68% 100%, #91887A 0%, rgba(209, 204, 194, 0) 100%);
        background-attachment: fixed;
                background-size: cover;
                background-position-y: 0px;
        transform: scale(1.0) scaleZ(1.0) rotateX(0deg) rotateY(0deg) rotateX(-0deg);
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    38% {
        border: 20px solid #C8C4BD;
        background: none;
        background-attachment: fixed;
                background-size: cover;
                background-position-y: 0px;
        height:180px;
        width:100px;
        border-radius: 30px;
        transform: scale(1.0) scaleZ(1.0) rotateX(0deg) rotateY(0deg) rotateX(-20deg);
    }
    90% {
            border: 20px solid #C8C4BD;
            background: none;
            background-attachment: fixed;
                    background-size: cover;
                    background-position-y: 0px;
            height:180px;
            width:100px;
            border-radius: 30px;
            transform: scale(1.0) scaleZ(1.0) rotateX(0deg) rotateY(0deg) rotateX(-20deg);
    }
}
@keyframes animated-rotateBar {
    0% {
        width:15px;
                    height:60px;
                    width:15px;
                    background-color: white;
                    top:20px;
                    left:40px;
                    transform: rotate(40deg);
    }
    33% {
        width:15px;
                    height:60px;
                    width:15px;
                    background-color: white;
                    top:20px;
                    left:40px;
                    transform: rotate(40deg);
    }
    38% {
        width:15px;
                    height:100%;
                    width:50px;
                    background-color: white;
                    top:-40px;
                    left:0px;
                    transform: rotate(90deg);
    }
    90% {
        width:15px;
                    height:100%;
                    width:50px;
                    background-color: white;
                    top:80%;
                    left:0px;
                    transform: rotate(90deg);
    }
}
@keyframes animated-block {
    0% {
        width:15px;
                    height:100px;
                    background-color: white;
                    top:22px;
                    left:62px;
    }
    33% {
        width:15px;
                    height:100px;
                    background-color: white;
                    top:22px;
                    left:62px;
    }
    38% {
        width:100%;
                    height:200px;
                    background-color: #FDC055;
                    top:50px;
                    left:0px;
    }
    90% {
        top:80%;
        width:100%;
                    height:200px;
                    background-color: #FDC055;
                    left:0px;
    }
}
@keyframes animated-euro {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    38% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
}
@keyframes header-coming {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
        transform: none;
    }
}
@keyframes theCup-anim-step2 {
    0% {
        transform: translate(-1940px, -50%) scale(1.8);
    }
    50% {
        transform: translate(-160%, -255%) scale(0.5) rotate(360deg);
    }
    70% {
        transform: translate(-160%, -35%) scale(0.5) rotate(360deg);
    }
    80% {
        transform: translate(-160%, -85%) scale(0.5) rotate(360deg);
    }
    87% {
        transform: translate(-160%, -35%) scale(0.5) rotate(360deg);
    }
    100% {
        transform: translate(-160%, -35%) scale(0.5) rotate(360deg);
    }
}
@keyframes cupBox-anim-step2 {
    0% {
        transform: translate(399px, -110px) scale(1);
    }
    50%{
        transform: translate(-1500px, -10px) scale(1);
    }
    87%{
        transform: translate(-1500px, -10px) scale(1);
    }
    100%{
        transform: translate(-1500px, -110px) scale(1);
    }
}
@keyframes cupBox-outside-anim-step3 {
    0% {
        background-image: url("data:image/svg+xml,%3Csvg width='400' height='192' viewBox='0 0 400 192' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M159 101.5L365 32V102.5L159 187.5V101.5Z' fill='%23EC8C51' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M154 187.655L38.5 136.375V62.0189L154 102.276V187.655Z' fill='%23FDC055' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M396.27 83.1965L207.273 166.923L159.618 105.72L375.078 31.1377L396.27 83.1965Z' fill='%23F4A553' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M33.5 65.2039V83.5H5.57163L22.837 61.0148L33.5 65.2039Z' fill='%23EC8C51' stroke='%23EC8C51' stroke-width='5'/%3E%3C/svg%3E%0A");
        background-size: contain;
                    background-repeat: no-repeat;
                    background-size:contain;        
    }
    17% {
        background-image: url("data:image/svg+xml,%3Csvg width='447' height='242' viewBox='0 0 447 242' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M182.5 152L388.5 82.5V153L182.5 238V152Z' fill='%23EC8C51' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M177.5 238.155L62 186.875V112.519L177.5 152.776V238.155Z' fill='%23FDC055' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M432.203 81L250.937 144.049L201.553 149.839L400.42 81H432.203Z' fill='%23F4A553' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M250.427 46.9165L57.7453 111.78L30.5918 96.7844L230.045 42.08L250.427 46.9165Z' fill='%23FDC055' stroke='%23EC8C51' stroke-width='5'/%3E%3C/svg%3E%0A");
        background-size: contain;
                    background-repeat: no-repeat;
                    background-size:contain;
    }
    34% {
        background-image: url("data:image/svg+xml,%3Csvg width='447' height='242' viewBox='0 0 447 242' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M182.5 151.5L388.5 82V152.5L182.5 237.5V151.5Z' fill='%23EC8C51' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M177.5 237.655L62 186.375V112.019L177.5 152.276V237.655Z' fill='%23FDC055' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M180.281 151.411L143.563 75.6202L344.679 20.8148L395.602 76.8767L180.281 151.411Z' fill='%23F4A553' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M55.5592 102.483L117.184 48.2878L300.341 4.6338L258.233 43.7641L55.5592 102.483Z' fill='%23EC8C51' stroke='%23EC8C51' stroke-width='5'/%3E%3C/svg%3E%0A");
        background-size: contain;
                    background-repeat: no-repeat;
                    background-size:contain;
    }
    50% {
        background-image: url("data:image/svg+xml,%3Csvg width='447' height='242' viewBox='0 0 447 242' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M183 151.5L389 82V163.5L183 237.5V151.5Z' fill='%23EC8C51' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M178 237.655L62.5 186.375V112.019L178 152.276V237.655Z' fill='%23FDC055' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M391.661 78.414L179.556 151.835L122.996 129.568L312.652 59.1106L391.661 78.414Z' fill='%23F4A553' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M260.094 48.5756L300.98 57.2484L126.353 127.863L55.1328 107.957L260.094 48.5756Z' fill='%23FDC055' stroke='%23EC8C51' stroke-width='5'/%3E%3C/svg%3E%0A");
        background-size: contain;
                    background-repeat: no-repeat;
                    background-size:contain;
    }
    100% {
        background-image: url("data:image/svg+xml,%3Csvg width='447' height='242' viewBox='0 0 447 242' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M183 151.5L389 82V163.5L183 237.5V151.5Z' fill='%23EC8C51' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M178 237.655L62.5 186.375V112.019L178 152.276V237.655Z' fill='%23FDC055' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M391.661 78.414L179.556 151.835L122.996 129.568L312.652 59.1106L391.661 78.414Z' fill='%23F4A553' stroke='%23EC8C51' stroke-width='5'/%3E%3Cpath d='M260.094 48.5756L300.98 57.2484L126.353 127.863L55.1328 107.957L260.094 48.5756Z' fill='%23FDC055' stroke='%23EC8C51' stroke-width='5'/%3E%3C/svg%3E%0A");
    }
}
@keyframes cupBox-anim-step3 {
    0% {
        transform: translate(-1500px, -110px) scale(1);
    }
    50% {
        transform: translate(-1500px, -110px) scale(1);
    }
    62% {
        transform: translate(-1500px, -110px) scale(0.2);
    }
    75% {
        transform: translate(-260px, -110px) scale(0.2);
    }
    87% {
        transform: translate(-260px, -131px) scale(0.2);
    }
    100% {
        transform: translate(-260px, -131px) scale(0.20);
    }
}
@keyframes container-anim-step3 {
    0% {
        transform: translate(50%, -50%) scale(0.3);
    }
    62% {
        transform: translate(50%, -50%) scale(0.3);
    }
    75% {
        transform: translate(-50%, -50%) scale(0.3);
    }
    87% {
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.3);
    }
}
@keyframes animated-congrat {
    0%{
        width: 0px;
        height:0px;
    }
    100%{
        width: 5000px;
        height:5000px;
    }
}
@keyframes animated-congrat-v {
    0% {
        transform: rotate(0deg) scale(0);
    }
    100% {
        transform: rotate(360deg) scale(0.5);
    }
}
@keyframes animated-congrat-text {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes animated-congrat-CTA {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}