.main-descr {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-height: 570px) {
        justify-content: flex-end;
        height: 80vh;
        margin-bottom: 20vh;
    }
    .header {
        height: 30vh;
        width: calc(100vw - 20vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 10vw;
        margin-right: 10vw;
    
    .header-title {
        font-family: Thinking_of_Betty;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 2rem;
        line-height: 180%;
        margin-left: 50px;
        @media screen and (max-height: 570px) {
            margin-bottom: 20px;
        }

        strong {
            font-family: Thinking_of_Betty;
            font-weight: 500;
            font-size: 2.5rem;
            margin-left: -50px;
            
        }
    }
    .header-txt {
        font-weight: 400;
        line-height: 150%;
        margin-top: 30px;
    }
    .CTA {
        padding: 10px 50px;
        border-radius: 50px;
        color: $txt-cta-bg;
        background-color: $CTA-color;
        margin-bottom: 50px;
        font-weight: 600;
        margin-top: 30px;
    }
}
&::before {
    content:'';
    display: block;
    width:300px;
    height:300px;
    margin-bottom: 50px;
    margin-top: -100px;
    background: url(/img/cup-render.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@media screen and (max-height: 570px) {
    &::before {
        display: none;
    }
}
}
@media screen and (min-width: 900px) {
    @import 'firstSectionDesktop';
}
.more {
    position:absolute;
    top:90vh;
    left:50vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:$CTA-color;
    .look-bottom {
        position: relative;
        width:50px;
        height:50px;
        :first-child,
        :last-child {
            display: block;
            position: absolute;
            width:23px;
            height:3px;
            border-radius:70px;
            background:$CTA-color;
        } 
        :first-child {
            bottom:60%;
            left:6px;
            transform: rotate(45deg);
        }
        :last-child {
            bottom:60%;
            right:6px;
            transform: rotate(-45deg);
        }
    }
}