header {
    position: absolute;
    width: 100vw;
    height: 100px;
    padding:0;
    margin:0;
    top:0;
    left:0;
    transition: all 300ms ease-in-out;
    
    @media screen and (min-width:900px) {
        position: fixed;
        background:rgba(245,245,245,1);
        transition: all 300ms ease-in-out;
        z-index: 99999;
    }

    .menu-nav {
        top:0;
        left:0;
        margin:0;
        padding:0;
        width: 100vw;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        position:absolute;
        z-index: 19999;

        .main-logo {
            display:block;
            width: 200px;
            height: 100px;
            overflow: hidden;
            position: relative;
            margin-left: 0px;
            @media screen and (min-width:900px) {
                margin-left:30px;
                z-index:999999999;
            }

            h1 {
                position: absolute;
                bottom: 150vh;
            }
            img {
                position: absolute;
                width: 100%;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
            }
        }

        .main-logo.active {
            position: fixed;
        }
        
        @import 'hamMenu';
        @import 'mainNav';
    }
}
header.start {
    @media screen and (min-width:900px) {
    background:rgba(250,250,250,0);
    .main-nav {
        .main-nav-list {
            .nav-link{
                a {
                    color:$txt-basic-clr;
                }
            }
            .CTA {
                a {
                    color:$txt-cta-bg;
                }
            }
            .CTA:hover {
                background-color:$txt-basic-clr;
                a{
                    color:$txt-cta-bg;
                }
            }
        }
    }
}
}