.main-nav {
    left:0vw;
    top:0;
    width:100vw;
    height:80px;
    background: none;
    display: block;

    .main-nav-list {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 50px;
        padding-top: 30px;


        .nav-link {
            margin-top:0;
            margin-right: 50px;
            position: relative;

            a {
                font-weight: 500;
                font-size:18px;
                color: $txt-cta-bg;
                transition: all 300ms ease-in-out;
            }
        }
        .CTA {
            a {
                color:$txt-cta-bg;
            }
        }
        .nav-link:hover,
        .nav-link:focus,
        .nav-link.active {
            a {
                font-size:21px;
                color:$CTA-color;
            }
        }
        .CTA:hover {
            background-color:$txt-cta-bg;
            a{
                color:$CTA-color;
            }
        }
    }
}