.main-nav {
    position:fixed;
    top:0;
    left:-100vw;
    padding:0;
    margin:0;
    width: 100vw;
    height: 100vh;
    background: $txt-basic-clr;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 8000;
    transition: all 300ms ease-in-out;

    .main-nav-list {
        margin:0;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        .nav-link {
            margin:0;
            padding:0;
            margin-top: 20px;

            a {
                font-size: 24px;
                color: $txt-cta-bg;
            }
        }
    }
}
.main-nav.active {
    left:0;
}
@media screen and (min-wiidth:900px) {
    @import 'mainNavDesktop';
}