.main-nav {
    position:fixed;
    top:-100vh;
    left:0vw;
    padding:0;
    margin:0;
    width: 100vw;
    height: 100vh;
    background: $txt-basic-clr;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8000;
    transition: all 300ms ease-in-out;

    .main-nav-list {
        margin:0;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .nav-link {
            margin:0;
            padding:0;
            margin-top: 40px;

            a {
                font-size: 24px;
                color: $txt-cta-bg;
            }
        }
        .CTA {
            padding:10px 30px;
            border-radius: 50px;
            color: $txt-cta-bg;
            background-color: $CTA-color;
            a{
                color: $txt-cta-bg;
            }
        }
    }
}
.main-nav.active {
    top:0;
}
@media screen and (min-width:900px) {
    @import 'mainNavDesktop';
}