body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 180%;
    font-size: 15px;
    margin:0;
    padding:0;
}
ul {
    list-style: none;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: none;
    color: black;
    background-color: none;
}
input {
    border: none;
    background-color: none;
    color: black;
}
fieldset {
    border: none;
}
section {
    margin:0;
    padding:0;
}
article {
    margin:0;
    padding:0;
}
div {
    margin:0;
    padding:0;
}
h1 {
    margin:0;
    padding:0;
}
h2 {
    margin:0;
    padding:0;
}
h3 {
    margin:0;
    padding:0;
}
h4 {
    margin:0;
    padding:0;
}
p {
    margin:0;
    padding:0;
}
a {
    margin:0;
    padding:0;
}
img {
    max-width: 100vw;
}
figure {
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
  }