@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: 'Thinking_of_Betty';
  font-weight: 500;
  src: url("/font/Thinking_of_Betty.ttf") format("truetype");
}

@font-face {
  font-family: 'Thinking_of_Betty';
  font-weight: 400;
  src: url("/font/Thinking_of_Betty_Light.ttf") format("truetype");
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 180%;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  color: black;
  background-color: none;
}

input {
  border: none;
  background-color: none;
  color: black;
}

fieldset {
  border: none;
}

section {
  margin: 0;
  padding: 0;
}

article {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100vw;
}

figure {
  margin: 0;
  padding: 0;
}

main {
  background: radial-gradient(160.45% 57.32% at -24.34% 14.24%, #336099 0%, #50B0A2 100%);
}

.main-descr {
  height: 100vh;
}

header {
  position: fixed;
  width: 100vw;
  height: 150px;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

header .menu-nav {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 19999;
}

header .menu-nav .main-logo {
  display: block;
  width: 200px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

header .menu-nav .main-logo h1 {
  position: absolute;
  bottom: 150vh;
}

header .menu-nav .main-logo img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .menu-nav .main-logo.active {
  position: fixed;
}

header .menu-nav .ham-button {
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 9999;
  margin: 30px;
}

header .menu-nav .ham-button :nth-child(1),
header .menu-nav .ham-button :nth-child(2),
header .menu-nav .ham-button :nth-child(3) {
  display: block;
  position: absolute;
  height: 4px;
  background-color: white;
  right: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .menu-nav .ham-button :nth-child(1) {
  width: 24px;
  top: 0;
}

header .menu-nav .ham-button :nth-child(2) {
  width: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .menu-nav .ham-button :nth-child(3) {
  width: 15px;
  bottom: 0;
}

header .menu-nav .ham-button.active {
  position: fixed;
  top: 0;
  right: 0;
}

header .menu-nav .ham-button.active > :nth-child(1) {
  width: 30px;
  top: 50%;
  background-color: #336099;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

header .menu-nav .ham-button.active > :nth-child(2) {
  opacity: 0;
  background-color: #336099;
}

header .menu-nav .ham-button.active > :nth-child(3) {
  width: 30px;
  top: 50%;
  background-color: #336099;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

header .menu-nav .ham-button:hover > :nth-child(1),
header .menu-nav .ham-button:hover > :nth-child(2),
header .menu-nav .ham-button:hover > :nth-child(3),
header .menu-nav .ham-button:focus > :nth-child(1),
header .menu-nav .ham-button:focus > :nth-child(2),
header .menu-nav .ham-button:focus > :nth-child(3) {
  width: 30px;
}

header .menu-nav .main-nav {
  position: fixed;
  top: 0;
  left: -100vw;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 8000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .menu-nav .main-nav .main-nav-list {
  margin: 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-nav .main-nav .main-nav-list .nav-link {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

header .menu-nav .main-nav .main-nav-list .nav-link a {
  font-size: 24px;
  color: #336099;
}

header .menu-nav .main-nav.active {
  left: 0;
}

/*body {
    font-family: Thinking_of_Betty;
    font-weight: 500;
}*/
/*# sourceMappingURL=style.css.map */